.about {
  padding: 50px 9% 0 9%;
  margin-bottom: 150px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 200px;
  }

  &-content {
    @include media-breakpoint-up(lg) {
      display: flex;
      gap: 50px;
      align-items: center;
      flex-direction: row-reverse;
    }

    &-photo {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      @include media-breakpoint-up(lg) {
        margin: 0;
      }

      img {
        width: 200px;
        border-radius: 50%;
        border: 4px inset #0c0c0c;
        background-color: #0c0c0c;

        @include media-breakpoint-up(lg) {
          width: 300px;
          border-width: 8px;
        }
      }
    }

    &-description {
      display: flex;
      justify-content: center;
      color: $brand-primary;

      &-paragraph {
        text-align: center;
      }
    }
  }
}
